<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs") %>
    <title>Add new Blog</title>
</head>
<body>
    <%- include("./partials/nav.ejs") %>
 <div class="container mt-4">
    <form action="/blog/update/<%= blog._id %>" method="post" enctype="multipart/form-data">
        <div>
            <label for="formFileLg" class="form-label">Cover Image</label>
            <input name="coverImage" value="<%= blog.coverImageURL %>" class="form-control form-control-lg" id="coverImage" type="file">
          </div>
        <div class="mb-3">
            <label for="title" class="form-label">Enter Title of Post:</label>
            <input type="text" class="form-control" id="title" name="title" aria-describedby="emailHelp" value="<%= blog.title %>">
            </div>
            <div class="mb-3">
                <label for="body">Body</label>
                <textarea class="form-control" id="body" name="body"><%= blog.body %></textarea>
                </div>
        <div>
            <button type="submit" class="btn btn-dark">Update</button>

       
<%- include("./partials/footer.ejs") %>
<%- include("./partials/scripts.ejs") %>
</body>
</html>